QMenuBar {
    background-color: #404142;
}

QMenuBar::selected {
    background-color: #5D5E5F;
}

QListWidget {
    background-color: #2E2F30;
}

QListWidget::Item::hover {
    background-color: #5D5E5F;
}

QListWidget::Item::selected {
    background-color: #708090;
}

/*
QToolTip {
    color: #ffffff;
    background-color: #0f0f0f;
    border: 1px solid white;
}
*/
